# Сборка и временные файлы
[Bb]in/
[Oo]bj/
[Тт]emp/

# Пользовательские настройки Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Логи и кэш
*.log

# Временные файлы Microsoft Access
*.laccdb
*.ldb

# Системные файлы Windows
Thumbs.db
desktop.ini